*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  font-weight: 300;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}
body {
  min-height: 100vh;
  background-color: #333;
  color: #eee;
}
nav,
main,
footer {
  padding: 0.25rem 2rem;
}
h1,
h2,
h3,
h4 {
  font-family: 'Noto Serif', serif;
}
p {
  line-height: 1.7;
  margin: 1.5rem 0;
}

#meals-per-day .meal-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 1fr;
  gap: 2rem;
  /* justify-content: space-between;
  align-items: flex-start; */
}
#meals-plan .meal-cols {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2rem 1fr;
  gap: 2rem;
}
.meal-cols .collection {
  /* flex: 0 1 45vw; */
  /* align-self: stretch; */
  background-color: white;
}
.meal-cols .draggable {
  cursor: grab;
}
.user-view .background {
  min-height: 10rem;
}
.sidenav li:first-child {
  min-height: 10rem;
}
#recipe-list {
  height: calc((1.5rem + 20px) * 8);
  overflow-y: scroll;
}
table {
  border: 1px solid white;
}
table th,
table td {
  width: 120px;
}
@media all and (max-width: 810px) {
  nav .brand-logo {
    font-size: 1rem;
  }
  .nav-wrapper {
    overflow: hidden;
  }
}
